<!DOCTYPE html>
<html>
  <head>
  
    <title>Uncappd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" type="image/png" href="https://untappd.akamaized.net/assets/favicon-16x16.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('uncappd.png') %>"
      window.logoWhiteURL = "<%= image_url('uncappd-white.png') %>"
      window.navLogo = "<%= image_url('nav-logo.png') %>"
      window.userIcon = "<%= image_url('user.png') %>"
      window.demoProfile = "<%= image_url('carlos.png') %>"
      window.beerLogo = "<%= image_url('badge-beer-default.png') %>"
      window.beerProfileImg = "<%= image_url('amstel-beer-logo-png-transparent.png') %>"
      window.breweryProfileImg = "<%= image_url('stone-brewing.jpeg') %>"
      window.beer1 = "<%= image_url('stanislav-kondratiev-1569309-unsplash.jpg') %>"
      window.beer2 = "<%= image_url('dan-gold-710494-unsplash.jpg') %>"
      window.beer3 = "<%= image_url('drew-beamer-683919-unsplash.jpg') %>"
      window.beer4 = "<%= image_url('elevate-755057-unsplash.jpg') %>"
      window.beer5 = "<%= image_url('lai-yuching-1235760-unsplash.jpg') %>"
      window.beer6 = "<%= image_url('patrick-fore-361431-unsplash.jpg') %>"
      window.beer7 = "<%= image_url('evan-dvorkin-1480482-unsplash.jpg') %>"
      window.beer8 = "<%= image_url('anders-nord-452836-unsplash.jpg') %>"
      window.beer9 = "<%= image_url('elevate-755007-unsplash.jpg') %>"
      window.beer10 = "<%= image_url('elevate-755009-unsplash.jpg') %>"
      window.beer11 = "<%= image_url('giovanna-gomes-1163458-unsplash.jpg') %>"
      window.beer12 = "<%= image_url('gonzalo-esteguy-1421836-unsplash.jpg') %>"
      window.beer13 = "<%= image_url('julia-nastogadka-324764-unsplash.jpg') %>"
    </script>
  </head>
    
  <body>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '323049325046608',
        xfbml      : true,
        version    : 'v3.3'
      });
      FB.AppEvents.logPageView();
    };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= yield %>
  </body>
</html>
